body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: rgba(18, 11, 123, 0.91);
    width: 100%;
    height: 106px;
    position: fixed;
    border-bottom: #0033a0;
}

nav ul{
    float: right;
    display: flex;
    list-style: none;
}
nav ul li a{
   color: white;
   line-height: 60px;
   padding: 12px 20px;
   font-size: 14px;
   text-decoration: none;
   border-radius: 6px;
   margin: 10px;
}
.logo{
    float: left;
    margin: 10px 20px;
}

.hero {
    min-height: 100vh;
    background: url('home-banner-0325.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 106px;
}
.hero-content {
    color: white;
}

.hero-content h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 7rem;
    letter-spacing: 4px;
    margin: 0;
}

.hero-content p {
    font-family: 'space Grotesk', sans-serif;
    margin-top: 12px;
    font-size: 2rem;
    letter-spacing: 3px;
    opacity: 0.9;
}

.hero1 {
    height: 82vh;
    background: url('about-bkg-24.png') no-repeat center center/cover;
    display: flex;
    color: white;
}

.hero1-content h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
    margin-left: 10vw;
    padding-top: 100px;
    text-align: left;
    flex: 1;
}
.hero1-content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 12px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    opacity: 0.9;
    max-width: 45vw;
    margin-left: 10vw;
}

.news-section {
  background: url('news-bkg-25.jpg') no-repeat center center/cover;
  padding: 60px 80px;
}

.news-title {
font-family: 'science gothic', sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-left: 6vw;
  margin-bottom: 40px;
  text-align: left;
  color: #ffffff;
}

.news-cards {
  display: flex;
  gap: 40px;
}
.card {
  width: 33.33%;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.tag {
  display: inline-block;
  margin-top: 14px;
  font-size: 12px;
  font-weight: 600;
  color: #00aaff;
  letter-spacing: 1px;
}
.card h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}
.store-section {
    background-color: #0ac0ba;
    padding: 40px 80px;
    text-align: center;
}
.a{
    text-decoration: none;
}
.hi {
    font-family: 'BBH Bartle', cursive;
    background-color: #0ac0ba;
    padding: 110px;
    font-size:50px;
    color: #ffffff;
    text-align: center;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 20px;
  flex-wrap: wrap;
  gap: 10px;
  background: #ffffff;
}
.partners img {
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}

footer {
    background-color: rgba(18, 11, 123, 0.91);
    color: white;
    text-align: center;
    padding: 2px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-decoration: none;
}